/* src/fonts.css */

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Italic versions */
@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Passenger Display';
  src: url('./assets/fonts/PassengerDisplay-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}